* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  width: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./hero-img.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 10rem 50rem;
}

.hero h1 {
  font-size: 4rem;
  display: inline;
}

.hero span {
  font-size: 1rem;
}

/* .text {
  width: 80%;
  padding-top: 10rem;
  padding-left: 44rem;
} */

.fsd {
  text-transform: uppercase;
}

.black-box {
  width: 100%;
  /* margin-top: 2rem; */
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.black-box h1 {
  font-size: 4rem;
  display: inline;
}

.black-box span {
  font-size: 4.8rem;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1.6rem;
  justify-content: center;
  padding: 2rem 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2rem 4rem rgb(0, 0, 0, 0.075);
  max-width: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  justify-self: center;
}

.card-img {
  max-width: 20rem;
  height: auto;
}

.card-description {
  padding: 2rem 2rem 4rem 2rem;
}

.card-description h3 {
  margin-bottom: 1.6rem;
}

.me {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-me {
  background-color: #4d5f00;
  width: 33%;
  height: 10rem;
  color: #fff;
}

.about-me {
  background-color: #761c00;
  width: 33%;
  height: 10rem;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .hero {
    text-align: center;
    padding: 2rem 8rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero span {
    font-size: 1.4rem;
  }

  .black-box {
    margin-bottom: 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
